/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  background-image: linear-gradient( to right, #ff9900, #ffcc00);
}

.main {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 4%;
  display: flex;
  display: -webkit-flex;
}

.left {
  width: 25%;
  font-size: 25px;
  color: white;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.right {
  width: 70%;
  margin-left: 6%;
  color: #ff3333;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

nav {
  display: flex;
  display: -webkit-flex;
  margin-top: 6%;
  font-size: 25px;
}

.nav{
  cursor: pointer;
  margin-right: 6%;
}

.guesses {
  margin-left: auto;
  width: 80px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: flex-end;
}

.guesses-num {
  font-size: 60px;
  line-height: 50px;
}

.guesses-txt {
  text-align: right;
}

.press-a {
  margin: 20% 0;
}

.a-key{
  width: 35px;
  display: inline-block;
}

.next-letters-container {
  font-size: 30px;
}

#next-letters {
  font-size: 40px;
}

#hangman-word {
  display: flex;
  color: white;
  font-size: 50px;
  justify-content: space-between;
}

#hangman-word li {
  border: 1px solid;
  padding: 5px;
}

#guessed-letters {
  font-size: 40px;
  text-decoration: line-through;
}
